{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {% block css %}{% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TODO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %}{% endblock homeactive %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% block tasksactive %}{% endblock tasksactive %}">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0 {% block searchbar %}{% endblock searchbar %}" action="/search" method="GET">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <!-- Footer -->
    <footer class="text-center text-light bg-dark py-4">Copyright ToDos &copy; 2020 | All rights reserved</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>